@import ".././sass/variables.scss";

.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: black;

  h1 {
    font-size: 10rem;
  }

  p {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    &:last-child {
      font-size: 3rem;
    }
  }
}

.darkIndigo {
  &.error {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  h1,
  span {
    color: $color-indigo-1;
  }
}

.lightIndigo {
  &.error {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  h1,
  span {
    color: $color-indigo-1;
  }
}

.darkTeal {
  &.error {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  h1,
  span {
    color: $color-teal-1;
  }
}

.lightTeal {
  &.error {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  h1,
  span {
    color: $color-teal-1;
  }
}

.darkOrange {
  &.error {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  h1,
  span {
    color: $color-orange-1;
  }
}

.lightOrange {
  &.error {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  h1,
  span {
    color: $color-orange-1;
  }
}

.darkPink {
  &.error {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  h1,
  span {
    color: $color-pink-1;
  }
}

.lightPink {
  &.error {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  h1,
  span {
    color: $color-pink-1;
  }
}

.darkGreen {
  &.error {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  h1,
  span {
    color: $color-green-1;
  }
}

.lightGreen {
  &.error {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  h1,
  span {
    color: $color-green-1;
  }
}
