@import "./../sass/variables.scss";

.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.formArea {
  min-width: 45rem;
  max-width: 100rem;
  width: 70%;
  min-height: 55rem;
  padding: 4rem;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
}

.themeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

h1 {
  margin-bottom: 2.6rem;
  font-size: 3rem;
  font-weight: bold;
  cursor: default;
}

// THEMES
.darkIndigo {
  &.page {
    background-color: $color-grey-dark-1;
  }

  .formArea {
    background-color: $color-grey-dark-3;
  }

  h1 {
    color: $color-indigo-1;
  }
  .themeButton {
    color: $color-white;
  }
}

.darkTeal {
  &.page {
    background-color: $color-grey-dark-1;
  }

  .formArea {
    background-color: $color-grey-dark-3;
  }

  h1 {
    color: $color-teal-1;
  }

  .themeButton {
    color: $color-white;
  }
}

.lightIndigo {
  &.page {
    background-color: $color-white;
  }

  .formArea {
    background-color: $color-grey-light-1;
  }

  h1 {
    color: $color-indigo-1;
  }

  .themeButton {
    color: $color-grey-dark-3;
  }
}

.lightTeal {
  &.page {
    background-color: $color-white;
  }

  .formArea {
    background-color: $color-grey-light-1;
  }

  h1 {
    color: $color-teal-1;
  }

  .themeButton {
    color: $color-grey-dark-3;
  }
}

// Media queries
@media only screen and (max-width: 500px) {
  .formArea {
    min-width: auto;
    width: 94%;
  }
}
