@import ".././sass/variables.scss";

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.aside {
  max-width: 25rem;
  width: 100%;
  position: static;
  background-color: red;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: blue;
}

.darkIndigo {
  .aside {
    background-color: $color-grey-dark-3;
  }
}

.darkTeal {
  .aside {
    background-color: $color-grey-dark-3;
  }
}

.lightIndigo {
  .aside {
    background: linear-gradient(
      to right bottom,
      $color-indigo-2,
      $color-indigo-1
    );
  }
}

.lightTeal {
  .aside {
    background: linear-gradient(to right bottom, $color-teal-2, $color-teal-1);
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 800px) {
  .aside {
    max-width: 20rem;
  }
}

@media only screen and (max-width: 600px) {
  .aside {
    display: none;
  }
}
