@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

// FONTS
$font-primary: "Rubik", sans-serif;

// COLORS
$color-indigo-1: #364fc7;
$color-indigo-2: #4263eb;
$color-green-1: #2f9e44;
$color-green-2: #40c057;
$color-teal-1: #099268;
$color-teal-2: #12b886;
$color-pink-1: #c2255c;
$color-pink-2: #e64980;
$color-purple-1: #5f3dc4;
$color-purple-2: #7950f2;
$color-orange-1: #d9480f;
$color-orange-2: #f76707;

$color-white: #fff;
$color-red: #c92a2a;

$color-grey-light-1: #e9ecef;
$color-grey-dark-1: #34383c;
$color-grey-dark-2: #3e4144;
$color-grey-dark-3: #222426;
// BORDER RADIUS
$border-radius: 4rem;

// ANIMATIONS

// BOX SHADOW
