@import ".././sass/variables.scss";

.addPost {
  max-width: 60rem;
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: $border-radius;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.userPhoto {
  width: 6rem;
  height: 6rem;
  img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
}

.textarea {
  resize: none;
  flex-grow: 1;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  background-color: transparent;
}

.shareButton {
  flex-basis: 100%;
  justify-self: flex-end;
  padding: 0.5rem;
  border-radius: $border-radius;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }

  &:disabled {
    cursor: not-allowed;
    filter: brightness(0.7);
    &:hover {
      transform: translateY(0);
    }
  }
}

.darkIndigo {
  background-color: $color-grey-dark-3;
  color: $color-white;

  .textarea {
    color: $color-white;
  }

  .shareButton {
    background-color: $color-indigo-1;
  }
}

.lightIndigo {
  .shareButton {
    background-color: $color-indigo-1;
  }
}

.darkTeal {
  background-color: $color-grey-dark-3;
  color: $color-white;

  .textarea {
    color: $color-white;
  }

  .shareButton {
    background-color: $color-teal-1;
  }
}

.lightTeal {
  .shareButton {
    background-color: $color-teal-1;
  }
}

.darkOrange {
  background-color: $color-grey-dark-3;
  color: $color-white;

  .textarea {
    color: $color-white;
  }

  .shareButton {
    background-color: $color-orange-1;
  }
}

.lightOrange {
  .shareButton {
    background-color: $color-orange-1;
  }
}

.darkPink {
  background-color: $color-grey-dark-3;
  color: $color-white;

  .textarea {
    color: $color-white;
  }

  .shareButton {
    background-color: $color-pink-1;
  }
}

.lightPink {
  .shareButton {
    background-color: $color-pink-1;
  }
}

.darkGreen {
  background-color: $color-grey-dark-3;
  color: $color-white;

  .textarea {
    color: $color-white;
  }

  .shareButton {
    background-color: $color-green-1;
  }
}

.lightGreen {
  .shareButton {
    background-color: $color-green-1;
  }
}
