@import ".././sass/variables.scss";

.comment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 0.6rem 0;
}

.userPhoto {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.authorName {
  font-size: 1.4rem;
  font-weight: bold;
}

.text {
  font-size: 1.4rem;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.date {
  width: max-content;
}

.commentMenu {
  display: flex;
  gap: 1rem;
}

.commentUpdate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.textArea {
  border: none;
  outline: none;
  resize: none;
  height: 5rem;
  background-color: transparent;
  color: inherit;
}

.updateCommentBtn {
  padding: 0.3rem;
  border-radius: $border-radius;

  &:hover {
    transform: translateY(-2px);
  }
}

.dark {
  .commentMenu {
    button {
      color: $color-grey-dark-2;
      &:hover {
        color: $color-grey-light-1;
        transform: scale(1.1);
      }
    }
  }
  .updateCommentBtn {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }
}

.light {
  .commentMenu {
    button {
      color: $color-grey-light-1;
      &:hover {
        color: $color-grey-dark-3;
        transform: scale(1.1);
      }
    }
  }
  .updateCommentBtn {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }
}
