@import "./../sass/variables.scss";
.container {
  height: 100%;
  max-height: calc(100vh - 6rem);
  overflow-y: scroll;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.header {
  width: 100%;
  font-size: 2.8rem;
  text-align: center;
}

.friends {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
  justify-items: center;

  padding: 0 2rem;
}

.noFriends {
  font-size: 1.8rem;
}

// Scrollbar
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.darkIndigo {
  &.container {
    background-color: $color-grey-dark-2;
    color: $color-white;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-indigo-1;
  }
}

.lightIndigo {
  &.container {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-indigo-1;
  }
}

.darkTeal {
  &.container {
    background-color: $color-grey-dark-2;
    color: $color-white;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-teal-1;
  }
}

.lightTeal {
  &.container {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-teal-1;
  }
}

.darkOrange {
  &.container {
    background-color: $color-grey-dark-2;
    color: $color-white;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-orange-1;
  }
}

.lightOrange {
  &.container {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-orange-1;
  }
}

.darkPink {
  &.container {
    background-color: $color-grey-dark-2;
    color: $color-white;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-pink-1;
  }
}

.lightPink {
  &.container {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }
  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-pink-1;
  }
}

.darkGreen {
  &.container {
    background-color: $color-grey-dark-2;
    color: $color-white;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-green-1;
  }
}

.lightGreen {
  &.container {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }
  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-green-1;
  }
}

@media only screen and (min-width: 1400px) {
  .friends {
    padding: 0 16rem;
  }
}
