@import "./../sass/variables.scss";
.friend {
  width: 100%;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  border-radius: 16px;
}

.userPhoto {
  display: block;
  width: 8rem;
  height: 8rem;
  text-align: center;

  img {
    width: 100%;
    height: 100%;

    &:hover {
      transform: none;
    }
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.userFullName {
  font-size: 1.6rem;
}

.userNick {
  font-size: 1.2rem;
}

.darkIndigo {
  &.friend {
    background-color: $color-grey-dark-3;
    color: $color-white;

    &:hover {
      background: linear-gradient(
        to right bottom,
        $color-indigo-1,
        $color-indigo-2
      );
      cursor: pointer;
    }
  }
}

.lightIndigo {
  &.friend {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;

    &:hover {
      background: linear-gradient(to right, $color-indigo-1, $color-indigo-2);
      color: $color-white;
      cursor: pointer;
    }
  }
}

.darkTeal {
  &.friend {
    background-color: $color-grey-dark-3;
    color: $color-white;

    &:hover {
      background: linear-gradient(
        to right bottom,
        $color-teal-1,
        $color-teal-2
      );
      cursor: pointer;
    }
  }
}

.lightTeal {
  &.friend {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;

    &:hover {
      background: linear-gradient(to right, $color-teal-1, $color-teal-2);
      color: $color-white;
      cursor: pointer;
    }
  }
}

.darkOrange {
  &.friend {
    background-color: $color-grey-dark-3;
    color: $color-white;

    &:hover {
      background: linear-gradient(
        to right bottom,
        $color-orange-1,
        $color-orange-2
      );
      cursor: pointer;
    }
  }
}

.lightOrange {
  &.friend {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;

    &:hover {
      background: linear-gradient(to right, $color-orange-1, $color-orange-2);
      color: $color-white;
      cursor: pointer;
    }
  }
}

.darkPink {
  &.friend {
    background-color: $color-grey-dark-3;
    color: $color-white;

    &:hover {
      background: linear-gradient(
        to right bottom,
        $color-pink-1,
        $color-pink-2
      );
      cursor: pointer;
    }
  }
}

.lightPink {
  &.friend {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;

    &:hover {
      background: linear-gradient(to right, $color-pink-1, $color-pink-2);
      color: $color-white;
      cursor: pointer;
    }
  }
}

.darkGreen {
  &.friend {
    background-color: $color-grey-dark-3;
    color: $color-white;

    &:hover {
      background: linear-gradient(
        to right bottom,
        $color-green-1,
        $color-green-2
      );
      cursor: pointer;
    }
  }
}

.lightGreen {
  &.friend {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;

    &:hover {
      background: linear-gradient(to right, $color-green-1, $color-green-2);
      color: $color-white;
      cursor: pointer;
    }
  }
}
