@import ".././sass/variables.scss";
.logo {
  //   position: absolute;
  //   top: 1rem;
  //   left: 1rem;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: default;

  &.dark {
    color: $color-white;
  }

  &.light {
    color: $color-grey-dark-3;
  }
}
