@import ".././sass/variables.scss";
.logo {
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: default;
  transition: all 0.2s;

  &:hover {
    animation: hithere 1s;
    cursor: pointer;
  }

  &.dark {
    color: $color-white;
  }

  &.light {
    color: $color-grey-dark-3;
  }
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
