@import ".././sass/variables.scss";

.navbar {
  height: 6rem;
  padding: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu {
  align-self: center;
  margin-right: auto;
  padding-right: 2rem;
  color: inherit;

  &:hover {
    transform: scale(1.1);
  }
}

.darkIndigo {
  &.navbar {
    background-color: $color-grey-dark-3;
  }
}

.darkTeal {
  &.navbar {
    background-color: $color-grey-dark-3;
  }
}

.darkOrange {
  &.navbar {
    background-color: $color-grey-dark-3;
  }
}

.darkPink {
  &.navbar {
    background-color: $color-grey-dark-3;
  }
}

.darkGreen {
  &.navbar {
    background-color: $color-grey-dark-3;
  }
}

.lightIndigo {
  &.navbar {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;
  }
}

.lightTeal {
  &.navbar {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;
  }
}

.lightOrange {
  &.navbar {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;
  }
}

.lightPink {
  &.navbar {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;
  }
}

.lightGreen {
  &.navbar {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-3;
  }
}

// MEDIA QUERIES
@media only screen and (min-width: 600px) {
  .menu {
    display: none;
  }
}
