@import ".././sass/variables.scss";
.posts {
  height: 40rem;
  overflow-y: scroll;
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.noPosts {
  font-size: 1.8rem;
}

.darkIndigo {
  &.posts {
    background-color: $color-grey-dark-2;
  }
}
.darkTeal {
  &.posts {
    background-color: $color-grey-dark-2;
  }
}

.darkOrange {
  &.posts {
    background-color: $color-grey-dark-2;
  }
}

.darkPink {
  &.posts {
    background-color: $color-grey-dark-2;
  }
}

.darkGreen {
  &.posts {
    background-color: $color-grey-dark-2;
  }
}

.lightIndigo {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }
}

.lightTeal {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }
}

.lightOrange {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }
}

.lightPink {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }
}

.lightGreen {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }
}
