@import ".././sass/variables.scss";
.posts {
  height: 40rem;
  overflow-y: scroll;
  padding: 3rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  scroll-behavior: smooth;
}

.noPosts {
  font-size: 1.8rem;
}

// Scrollbar
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

// THEME
.darkIndigo {
  &.posts {
    background-color: $color-grey-dark-2;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-indigo-1;
  }
}
.darkTeal {
  &.posts {
    background-color: $color-grey-dark-2;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-teal-1;
  }
}

.darkOrange {
  &.posts {
    background-color: $color-grey-dark-2;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-orange-1;
  }
}

.darkPink {
  &.posts {
    background-color: $color-grey-dark-2;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-pink-1;
  }
}

.darkGreen {
  &.posts {
    background-color: $color-grey-dark-2;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-green-1;
  }
}

.lightIndigo {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-indigo-1;
  }
}

.lightTeal {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-teal-1;
  }
}

.lightOrange {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-orange-1;
  }
}

.lightPink {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }
  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-pink-1;
  }
}

.lightGreen {
  &.posts {
    background-color: $color-white;
  }

  .noPosts {
    color: $color-grey-dark-3;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-light-1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-green-1;
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 400px) {
  .posts {
    padding: 2rem 0;
  }
}
