@import ".././sass/variables.scss";

.allPost {
  border-radius: $border-radius;
  max-width: 60rem;
  width: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.post {
  width: 100%;
  padding: 2rem 3rem;
  border-radius: $border-radius;

  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.postHeader {
  width: 100%;
  height: min-content;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postUser {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.postUsername {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.postUserNick {
  font-size: 1.4rem;
  font-weight: 300;
  cursor: pointer;
}

.postUserImage {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0;
  border-radius: 50%;
  cursor: pointer;
}

.postMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  button {
    color: inherit;
    transition: all 0.2s ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.postDate {
  font-size: 1.4rem;
  font-weight: 300;
  flex-basis: 100%;
  text-align: end;
}

.postDateUpdate {
  font-size: 1rem;
  font-weight: 300;
}

.postContent {
  width: 100%;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 100;
  overflow-wrap: anywhere;

  textarea {
    width: 100%;
    height: 7rem;
    resize: none;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 1.6rem;
    color: inherit;
  }

  .updateButton {
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: $border-radius;

    &:hover {
      transform: translate(0, -2px);
    }
  }
}

.postFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postFooterActions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.postFooterHashtags {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.postFooterAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.2rem;

  button {
    color: inherit;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.comments {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.closeComments {
  margin-top: 0;
  font-size: 1.4rem;
  color: inherit;

  &:hover {
    transform: translate(0, -2px);
  }
}

.darkIndigo {
  &.allPost {
    background-color: $color-grey-dark-3;
  }
  &.post {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  .postMenu {
    button {
      color: $color-grey-dark-2;
      &:hover {
        color: $color-white;
      }
    }
  }

  .updateButton {
    background-color: $color-indigo-1;
  }
}

.lightIndigo {
  &.allPost {
    background-color: $color-white;
  }
  .post {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  .postFooterAction,
  .postFooterHashtags p {
    color: $color-indigo-1;
  }

  .comments {
    color: $color-grey-dark-3;
  }

  .postMenu {
    button {
      color: $color-grey-light-1;
      &:hover {
        color: $color-grey-dark-3;
      }
    }
  }

  .updateButton {
    background-color: $color-indigo-1;
  }
}

.darkTeal {
  &.allPost {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  .postFooterAction,
  .postFooterHashtags p {
    color: $color-teal-1;
  }

  .postMenu {
    button {
      color: $color-grey-dark-2;
      &:hover {
        color: $color-white;
      }
    }
  }

  .updateButton {
    background-color: $color-teal-1;
  }
}

.lightTeal {
  &.allPost {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  .postFooterAction,
  .postFooterHashtags p {
    color: $color-teal-1;
  }

  .comments {
    color: $color-grey-dark-3;
  }

  .postMenu {
    button {
      color: $color-grey-light-1;
      &:hover {
        color: $color-grey-dark-3;
      }
    }
  }

  .updateButton {
    background-color: $color-teal-1;
  }
}

.darkOrange {
  &.allPost {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  .postFooterAction,
  .postFooterHashtags p {
    color: $color-orange-1;
  }

  .postMenu {
    button {
      color: $color-grey-dark-2;
      &:hover {
        color: $color-white;
      }
    }
  }

  .updateButton {
    background-color: $color-orange-1;
  }
}

.lightOrange {
  &.allPost {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  .postFooterAction,
  .postFooterHashtags p {
    color: $color-orange-1;
  }

  .comments {
    color: $color-grey-dark-3;
  }

  .postMenu {
    button {
      color: $color-grey-light-1;
      &:hover {
        color: $color-grey-dark-3;
      }
    }
  }

  .updateButton {
    background-color: $color-orange-1;
  }
}

.darkPink {
  &.allPost {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  .postFooterAction,
  .postFooterHashtags p {
    color: $color-pink-1;
  }

  .postMenu {
    button {
      color: $color-grey-dark-2;
      &:hover {
        color: $color-white;
      }
    }
  }

  .updateButton {
    background-color: $color-pink-1;
  }
}

.lightPink {
  &.allPost {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  .postFooterAction,
  .postFooterHashtags p {
    color: $color-pink-1;
  }

  .comments {
    color: $color-grey-dark-3;
  }

  .postMenu {
    button {
      color: $color-grey-light-1;
      &:hover {
        color: $color-grey-dark-3;
      }
    }
  }

  .updateButton {
    background-color: $color-pink-1;
  }
}

.darkGreen {
  &.allPost {
    background-color: $color-grey-dark-3;
    color: $color-white;
  }

  .postFooterAction,
  .postFooterHashtags p {
    color: $color-green-1;
  }

  .postMenu {
    button {
      color: $color-grey-dark-2;
      &:hover {
        color: $color-white;
      }
    }
  }

  .updateButton {
    background-color: $color-green-1;
  }
}

.lightGreen {
  &.allPost {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }

  .postFooterAction,
  .postFooterHashtags p {
    color: $color-green-1;
  }

  .comments {
    color: $color-grey-dark-3;
  }

  .postMenu {
    button {
      color: $color-grey-light-1;
      &:hover {
        color: $color-grey-dark-3;
      }
    }
  }

  .updateButton {
    background-color: $color-green-1;
  }
}

// MEDIA QUERIES
