@import ".././sass/variables.scss";

.themeButton {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.light {
    color: $color-grey-dark-3;
  }

  &.dark {
    color: $color-white;
  }

  &:hover {
    transform: scale(1.3);
  }
}
